<div class="container">
  <div>
      <h1>List of books</h1>
      <input type="button" value="Add" class="btn btn-primary" (click)="addBook()" />
      <hr />
        <table class="table table-striped">
          <thead>
            <tr>
              <td>Name</td>
              <td>Barcode</td>
              <td>Proce</td>
              <td>Author</td>
              <td></td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let book of books">
              <ng-template [ngTemplateOutlet]="loadTemplate(book)"
                          [ngTemplateOutletContext]="{ $implicit: book}">
              </ng-template>
            </tr>
          </tbody>
        </table>
    
    
        <ng-template #readOnlyTemplateBook let-book>
          <td>{{book.name}}</td>
          <td>{{book.barcode}}</td>
          <td>{{book.price}}</td>
          <td>
            <input type="button" value="Edit" class="btn btn-secondary" (click)="editBook(book)" />
          </td>
          <td>
            <input type="button" value="Delete" (click)="deleteBook(book)" class="btn btn-danger" />
          </td>
        </ng-template>
    
        <ng-template  #editTemplateBook>
          <ng-container>
            <td>
              <input type="text" [(ngModel)]="editedBook.name" name="name" class="form-control" required #name="ngModel"/>
              <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                <div *ngIf="name.errors.required">
                  Name is required.
                </div>
              </div>
            </td>
            <td>
              <input type="number" [(ngModel)]="editedBook.year" name="year" class="form-control" />
            </td>
            <td>
              <input type="text" [(ngModel)]="editedBook.genre" name="genre" class="form-control" />
            </td>
            <td>
              <input type="text" [(ngModel)]="editedBook.author" name="author" class="form-control" required />
            </td>
            <td>
              <input type="submit" value="Save" (click)="onSubmit()" class="btn btn-success" />
            </td>
            <td>
              <input type="button" value="Cancel" (click)="cancel()" class="btn btn-warning" />
            </td>
            </ng-container>
      </ng-template>
    </div>
    <div>
      <h1>List of discs</h1>
      <input type="button" value="Add" class="btn btn-primary" (click)="addBook()" />
      <hr />
        <table class="table table-striped">
          <thead>
            <tr>
              <td>Name</td>
              <td>Barcode</td>
              <td>Price</td>
              <td>Author</td>
              <td></td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let book of books">
              <ng-template [ngTemplateOutlet]="loadTemplate(book)"
                          [ngTemplateOutletContext]="{ $implicit: book}">
              </ng-template>
            </tr>
          </tbody>
        </table>
    
    
        <ng-template #readOnlyTemplateBook let-book>
          <td>{{book.name}}</td>
          <td>{{book.year}}</td>
          <td>{{book.genre}}</td>
          <td>{{book.author}}</td>
          <td>
            <input type="button" value="Edit" class="btn btn-secondary" (click)="editBook(book)" />
          </td>
          <td>
            <input type="button" value="Delete" (click)="deleteBook(book)" class="btn btn-danger" />
          </td>
        </ng-template>
    
        <ng-template  #editTemplateBook>
          <ng-container>
            <td>
              <input type="text" [(ngModel)]="editedBook.name" name="name" class="form-control" required #name="ngModel"/>
              <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                <div *ngIf="name.errors.required">
                  Name is required.
                </div>
              </div>
            </td>
            <td>
              <input type="number" [(ngModel)]="editedBook.year" name="year" class="form-control" />
            </td>
            <td>
              <input type="text" [(ngModel)]="editedBook.genre" name="genre" class="form-control" />
            </td>
            <td>
              <input type="text" [(ngModel)]="editedBook.author" name="author" class="form-control" required />
            </td>
            <td>
              <input type="submit" value="Save" (click)="onSubmit()" class="btn btn-success" />
            </td>
            <td>
              <input type="button" value="Cancel" (click)="cancel()" class="btn btn-warning" />
            </td>
            </ng-container>
      </ng-template>
    </div>
  </div>